.photo-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    .file-input{
        display: none;
    }

    .col-12{
        display: flex;
        justify-content: center;
    }

    #image{
       width: 100%;
       margin-top: 20px;

       img{
           width: 100%;
       }
    }
}


