<div class="container">
  <div class="photo-container">
    <div class="row">
      <div class="col-12">
        <button
          class="btn btn-success"
          type="button"
          (click)="fileInput.click()"
        >
          <span>Upload</span>
          <input
            class="file-input"
            #fileInput
            type="file"
            accept="image/png"
            (change)="photoChanged($event)"
          />
        </button>
      </div>
      <div class="col-12" id="image" *ngIf="!!imageSrc">
        <img [src]="imageSrc" alt="Some photo" />
      </div>
    </div>
  </div>
</div>
