<div class="login-container-fluid">
  <div class="login-container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="img-container">
          <img src="../../../assets/images/profile-image.png" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-container">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center h2">User Login</div>
            <mat-form-field appearance="outline">
              <label>Username</label>
              <input matInput name="username" formControlName="username"/>
              <mat-icon matPrefix>email</mat-icon>
              <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <label>Password</label>
              <input matInput type="password" name="Password" formControlName="password"/>
              <mat-icon matPrefix >lock</mat-icon>
              <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
              <mat-error *ngIf="password.errors?.minlength">Password must have at least 8 characters</mat-error>
            </mat-form-field>
            <div class="btn-container">
              <button type="submit" class="btn btn-success">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
