.login-container-fluid {
    background: linear-gradient(to right, #3d3885 34%, rgb(114, 10, 161) 65%);
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;

  .login-container {
    width: 80%;
    height: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding-top: 20px;

    .row {
      height: 100%;
      width: 100%;

      .form-container {
        width: 100%;
        height: 92%;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .img-container {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;

        img {
          width: 45%;
        }
      }

      mat-form-field {
        width: 100%;
      }

      .btn-container {
        width: 100%;
        height: 45px;
        justify-content: center;
        display: flex;
        margin-top: 10px;

        button {
          width: 50%;
          height: 45px;
          border-radius: 18px;
        }
      }
    }
  }
}
