<div class="header-container">
  <div class="toolbar-container">
    <mat-toolbar class="h-100">
      <mat-toolbar-row class="header-buttons">
        <button class="btn btn-primary" [routerLink]="'/photo'">
          Add photo
        </button>
        <button
          class="btn btn-primary"
          routerLink="/history"
        >
          Photos details
        </button>
        <button class="btn btn-dark" (click)="logout()">Logout</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
