.header-container {
  .toolbar-container {
    height: 70px;
    .header-buttons {
      justify-content: space-evenly;
      height: 100%;
    }
    mat-toolbar{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    }
  }
  
  .content {
    height: calc(100% - 70px);
  }
  height: 100%;
}
