<div class="container">
  <div class="table-container">
    <table mat-table [dataSource]="items" matSort class="mat-elevation-z8">
      <tr mat-header-row *matHeaderRowDef="photosColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: photosColumns"></tr>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>Size</th>
        <td mat-cell *matCellDef="let element">{{ element.size | fileSize}}</td>
      </ng-container>

      <ng-container matColumnDef="recognitionResult">
        <th mat-header-cell *matHeaderCellDef>Recognition result</th>
        <td mat-cell *matCellDef="let element">{{element.recognitionResult}}</td>
      </ng-container>

      <!-- User Column  -->
      <ng-container matColumnDef="downloadLink">
        <th mat-header-cell *matHeaderCellDef>Download link</th>
        <td mat-cell *matCellDef="let element">{{ element.downloadLink }}</td>
      </ng-container>
    </table>
  </div>
</div>
